In [2]:
import numpy as np
import bz2
import json
import pandas as pd
import string


from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1]:
!pip install tld
%pip install pandas==1.3.0

Requirement already satisfied: tld in /usr/local/lib/python3.7/dist-packages (0.12.6)
Requirement already satisfied: pandas==1.3.0 in /usr/local/lib/python3.7/dist-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.0) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.0) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.0) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas==1.3.0) (1.15.0)

In [3]:
english_articles = ["the","a","an","some","to"]
def count_words(s) : # this method returns the number of words in a string 
  return sum([ word.translate(str.maketrans('', '', string.punctuation)).isalpha()  for word in (s.replace('-',' ')).split()])
  # the method makes sure to not include the english articles and the punctuation as a word.

def average_word_length(s) :
  word_length = [ len(word.translate(str.maketrans('', '', string.punctuation)))  for word in (s.replace('-',' ')).split() if word.translate(str.maketrans('', '', string.punctuation)).isalpha()]
  # the code line above returns an array with the length of every word where we have removed any sort of punctation in each word
  a = np.asarray(word_length)
  a = a[a>0] # here we remove the words of length 0 , this is the kind of words with only punctuation in it .
  return np.mean(a)

def largestWord_length(s):
    words_length = [ len(word.translate(str.maketrans('', '', string.punctuation)))  for word in (s.replace('-',' ')).split() if word.translate(str.maketrans('', '', string.punctuation)).isalpha()]
    # Sort the words in increasing
    # order of their lengths
    if len(words_length) == 0 :
      return 0
    words_length.sort() 
    return words_length[-1]
def numberOfPunctuation(s) : 
  count = lambda l1,l2: sum([1 for x in l1 if x in l2])
  return count(s,set(string.punctuation))

def removeBracket(s) : # this function is used to delete any bracket caracters in a string
     s = s.translate(str.maketrans('','','[]'))
     return s

def repeatedElements(s) : # this method returns the number of times a word is repeated more than once in the string s
    words = [ word.translate(str.maketrans('', '', string.punctuation))  for word in (s.replace('-',' ')).split() if word.translate(str.maketrans('', '', string.punctuation)).isalpha()]
    duplicate_dict = {i:words.count(i) for i in words}
    return sum([v > 1 for v in duplicate_dict.values()])

def numNumbers(s) : 
   return sum([word.translate(str.maketrans('', '', string.punctuation)).isnumeric() for word in (s.replace('-',' ')).split()])
   # returns the number of numeric words in the string

In [ ]:

path_to_file = '/content/drive/MyDrive/Quotebank/quotes-2020.json.bz2' 
path_to_out = '/content/quotes-2020-quotations-speaker.txt.bz2'
print(pd.__version__)

1.3.0

In [ ]:
def process_chunk(chunk,c):
        print(f'Processing chunk with {len(chunk)} rows')
        print(chunk.columns)
        # we observed in the data set that there were some anormal square bracket in some quotation
        chunk['quotation']= chunk['quotation'].apply(removeBracket) # this will remobe those square brackets
        chunk['numWords'] = chunk['quotation'].apply(count_words)
        chunk['averageWordLength'] = chunk['quotation'].apply(average_word_length)
        chunk['largestWordLength'] = chunk['quotation'].apply(largestWord_length)
        chunk['numOfPunctuation'] = chunk['quotation'].apply(numberOfPunctuation)
        chunk['numRepeatedWords'] = chunk['quotation'].apply(repeatedElements)
        chunk['numNumbers'] = chunk['quotation'].apply(numNumbers)
        chunk.to_csv(columns = ['numWords','speaker','numOccurrences','averageWordLength','largestWordLength','numOfPunctuation','numRepeatedWords','numNumbers','date'],path_or_buf="quotes-%s.csv"%c,sep =';',mode= 'a',float_format='%.2f')
        display(chunk)

df = pd.read_json("/content/drive/MyDrive/Quotebank/quotes-2018.json.bz2", lines=True, compression='bz2',chunksize=200000)
for chunk in df:
    process_chunk(chunk,2018)

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                  quoteID  ... numNumbers
0       2018-06-30-000005  ...          2
1       2018-12-06-000021  ...          0
2       2018-04-25-000107  ...          0
3       2018-06-28-000032  ...          1
4       2018-09-15-000010  ...          0
...                   ...  ...        ...
199995  2018-08-11-002295  ...          0
199996  2018-07-19-005298  ...          0
199997  2018-08-02-005180  ...          0
199998  2018-02-01-007309  ...          0
199999  2018-03-14-007467  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                  quoteID  ... numNumbers
200000  2018-02-23-006582  ...          0
200001  2018-10-21-002997  ...          0
200002  2018-05-25-005553  ...          0
200003  2018-11-06-005498  ...          0
200004  2018-01-02-004556  ...          0
...                   ...  ...        ...
399995  2018-03-28-009321  ...          0
399996  2018-12-09-003614  ...          0
399997  2018-07-28-003368  ...          0
399998  2018-12-11-007322  ...          0
399999  2018-05-22-007741  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                  quoteID  ... numNumbers
400000  2018-07-18-007688  ...          0
400001  2018-03-07-011022  ...          0
400002  2018-08-23-007638  ...          0
400003  2018-04-18-010231  ...          0
400004  2018-09-18-007908  ...          0
...                   ...  ...        ...
599995  2018-08-04-003604  ...          0
599996  2018-06-05-008611  ...          1
599997  2018-05-06-004992  ...          0
599998  2018-08-14-007566  ...          1
599999  2018-01-04-008740  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                  quoteID  ... numNumbers
600000  2018-10-02-009285  ...          0
600001  2018-06-12-009403  ...          0
600002  2018-07-27-007919  ...          0
600003  2018-07-10-007672  ...          0
600004  2018-05-07-008780  ...          0
...                   ...  ...        ...
799995  2018-11-26-005598  ...          0
799996  2018-05-31-006776  ...          0
799997  2018-05-25-006286  ...          0
799998  2018-09-30-002715  ...          0
799999  2018-04-25-008176  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

                  quoteID  ... numNumbers
800000  2018-11-02-006899  ...          0
800001  2018-10-12-006648  ...          0
800002  2018-01-30-007710  ...          0
800003  2018-11-21-006487  ...          0
800004  2018-02-14-008283  ...          0
...                   ...  ...        ...
999995  2018-09-07-012816  ...          0
999996  2018-10-04-014443  ...          0
999997  2018-07-05-010899  ...          1
999998  2018-07-23-011483  ...          0
999999  2018-05-18-014200  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
1000000  2018-02-28-017032  ...          0
1000001  2018-08-22-010188  ...          0
1000002  2018-03-08-019477  ...          0
1000003  2018-05-06-007649  ...          0
1000004  2018-02-07-017193  ...          0
...                    ...  ...        ...
1199995  2018-08-13-017703  ...          0
1199996  2018-09-17-021659  ...          0
1199997  2018-12-04-025129  ...          0
1199998  2018-07-29-010157  ...          0
1199999  2018-11-29-025152  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
1200000  2018-05-10-027672  ...          0
1200001  2018-09-23-010804  ...          0
1200002  2018-02-01-029786  ...          1
1200003  2018-09-03-014522  ...          0
1200004  2018-11-06-022347  ...          1
...                    ...  ...        ...
1399995  2018-09-20-032427  ...          0
1399996  2018-03-19-034074  ...          0
1399997  2018-09-11-031265  ...          0
1399998  2018-06-22-028266  ...          0
1399999  2018-05-23-033121  ...          1

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
1400000  2018-01-26-033455  ...          0
1400001  2018-08-01-026985  ...          0
1400002  2018-09-21-030476  ...          0
1400003  2018-06-20-031545  ...          0
1400004  2018-04-22-018776  ...          0
...                    ...  ...        ...
1599995  2018-07-28-010946  ...          0
1599996  2018-06-19-025342  ...          0
1599997  2018-01-21-013407  ...          0
1599998  2018-07-07-009466  ...          0
1599999  2018-11-19-023351  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
1600000  2018-02-07-031584  ...          0
1600001  2018-08-29-025846  ...          0
1600002  2018-07-09-018823  ...          0
1600003  2018-12-07-026144  ...          0
1600004  2018-03-29-030120  ...          0
...                    ...  ...        ...
1799995  2018-01-03-024789  ...          1
1799996  2018-03-20-032255  ...          0
1799997  2018-03-10-018279  ...          0
1799998  2018-11-24-012182  ...          0
1799999  2018-05-20-012286  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

                   quoteID  ... numNumbers
1800000  2018-03-22-034460  ...          0
1800001  2018-06-19-026783  ...          0
1800002  2018-10-17-029907  ...          0
1800003  2018-10-14-013873  ...          0
1800004  2018-09-14-027260  ...          0
...                    ...  ...        ...
1999995  2018-10-29-030306  ...          0
1999996  2018-04-10-034621  ...          0
1999997  2018-07-06-025270  ...          0
1999998  2018-12-20-029125  ...          0
1999999  2018-08-23-031464  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

                   quoteID  ... numNumbers
2000000  2018-08-11-013245  ...          0
2000001  2018-07-05-025166  ...          0
2000002  2018-10-14-016655  ...          0
2000003  2018-08-28-030831  ...          0
2000004  2018-10-12-032743  ...          0
...                    ...  ...        ...
2199995  2018-03-29-041516  ...          0
2199996  2018-02-07-043933  ...          0
2199997  2018-03-04-021502  ...          0
2199998  2018-02-15-044097  ...          0
2199999  2018-01-09-035692  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
2200000  2018-01-11-038749  ...          0
2200001  2018-12-06-038216  ...          0
2200002  2018-07-22-014855  ...          0
2200003  2018-12-04-037128  ...          0
2200004  2018-06-01-032277  ...          0
...                    ...  ...        ...
2399995  2018-02-07-050260  ...          0
2399996  2018-04-04-046843  ...          0
2399997  2018-05-25-039142  ...          0
2399998  2018-11-21-039156  ...          0
2399999  2018-09-20-042188  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

                   quoteID  ... numNumbers
2400000  2018-09-28-040311  ...          0
2400001  2018-12-05-042810  ...          0
2400002  2018-04-04-046891  ...          0
2400003  2018-10-10-044983  ...          0
2400004  2018-11-01-043890  ...          0
...                    ...  ...        ...
2599995  2018-10-28-023440  ...          0
2599996  2018-07-09-031188  ...          0
2599997  2018-05-03-052806  ...          0
2599998  2018-12-17-035725  ...          0
2599999  2018-10-12-044917  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
2600000  2018-08-19-018002  ...          0
2600001  2018-05-18-045252  ...          0
2600002  2018-04-20-053455  ...          0
2600003  2018-01-11-047940  ...          1
2600004  2018-05-01-050409  ...          0
...                    ...  ...        ...
2799995  2018-03-18-034843  ...          0
2799996  2018-05-23-060421  ...          0
2799997  2018-06-03-027528  ...          0
2799998  2018-11-18-028082  ...          0
2799999  2018-02-26-058089  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
2800000  2018-12-19-049479  ...          0
2800001  2018-05-29-050119  ...          0
2800002  2018-03-27-063992  ...          0
2800003  2018-05-28-031242  ...          0
2800004  2018-09-13-059381  ...          0
...                    ...  ...        ...
2999995  2018-11-13-063900  ...          0
2999996  2018-08-21-055857  ...          0
2999997  2018-10-09-063505  ...          0
2999998  2018-11-17-034706  ...          0
2999999  2018-08-19-027800  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
3000000  2018-10-27-035845  ...          0
3000001  2018-01-30-077783  ...          0
3000002  2018-05-15-073415  ...          0
3000003  2018-09-05-065517  ...          0
3000004  2018-02-02-080789  ...          0
...                    ...  ...        ...
3199995  2018-04-01-040695  ...          0
3199996  2018-09-13-077820  ...          0
3199997  2018-11-10-039071  ...          0
3199998  2018-02-17-048878  ...          1
3199999  2018-10-17-080643  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
3200000  2018-01-09-072781  ...          0
3200001  2018-02-21-091747  ...          0
3200002  2018-03-08-103551  ...          0
3200003  2018-06-03-036302  ...          0
3200004  2018-01-16-073655  ...          0
...                    ...  ...        ...
3399995  2018-04-05-085984  ...          1
3399996  2018-10-16-077571  ...          0
3399997  2018-10-24-083335  ...          0
3399998  2018-10-17-082121  ...          0
3399999  2018-10-14-039555  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
3400000  2018-11-29-075964  ...          0
3400001  2018-10-07-029689  ...          0
3400002  2018-03-30-073988  ...          3
3400003  2018-06-18-061972  ...          0
3400004  2018-02-15-094408  ...          0
...                    ...  ...        ...
3599995  2018-11-15-086315  ...          0
3599996  2018-09-04-072571  ...          0
3599997  2018-01-31-103488  ...          0
3599998  2018-08-21-068693  ...          0
3599999  2018-11-24-037986  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
3600000  2018-02-11-051542  ...          0
3600001  2018-12-20-072257  ...          0
3600002  2018-11-14-086345  ...          0
3600003  2018-08-28-077438  ...          0
3600004  2018-01-22-078551  ...          0
...                    ...  ...        ...
3799995  2018-05-21-071144  ...          0
3799996  2018-09-01-041918  ...          0
3799997  2018-05-25-079512  ...          0
3799998  2018-04-24-095012  ...          0
3799999  2018-04-18-105178  ...          2

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
3800000  2018-07-19-071985  ...          0
3800001  2018-12-10-070195  ...          0
3800002  2018-04-19-106497  ...          0
3800003  2018-01-28-050274  ...          0
3800004  2018-12-14-071706  ...          0
...                    ...  ...        ...
3999995  2018-02-21-109428  ...          0
3999996  2018-06-24-038462  ...          1
3999997  2018-11-01-095209  ...          0
3999998  2018-04-03-093294  ...          0
3999999  2018-03-15-114244  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
4000000  2018-12-05-091012  ...          0
4000001  2018-07-17-071661  ...          1
4000002  2018-05-16-100636  ...          0
4000003  2018-11-30-085778  ...          0
4000004  2018-04-10-095605  ...          1
...                    ...  ...        ...
4199995  2018-12-11-088522  ...          0
4199996  2018-06-19-093421  ...          0
4199997  2018-04-17-119346  ...          0
4199998  2018-11-23-071838  ...          0
4199999  2018-05-30-095277  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
4200000  2018-08-20-071488  ...          0
4200001  2018-05-15-106681  ...          0
4200002  2018-06-25-081289  ...          2
4200003  2018-03-23-115570  ...          0
4200004  2018-12-04-098838  ...          0
...                    ...  ...        ...
4399995  2018-01-20-065363  ...          0
4399996  2018-02-17-067852  ...          1
4399997  2018-02-14-130885  ...          0
4399998  2018-07-14-052899  ...          0
4399999  2018-11-03-056381  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
4400000  2018-01-03-095243  ...          0
4400001  2018-11-13-100749  ...          0
4400002  2018-03-28-127004  ...          0
4400003  2018-10-26-108026  ...          0
4400004  2018-12-29-040007  ...          0
...                    ...  ...        ...
4599995  2018-03-22-152031  ...          0
4599996  2018-02-09-138997  ...          0
4599997  2018-03-22-152049  ...          0
4599998  2018-02-28-144548  ...          0
4599999  2018-12-03-103477  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
4600000  2018-02-27-136643  ...          0
4600001  2018-06-25-099777  ...          0
4600002  2018-03-07-165700  ...          0
4600003  2018-06-12-120429  ...          0
4600004  2018-07-19-106134  ...          0
...                    ...  ...        ...
4799995  2018-03-29-140584  ...          0
4799996  2018-08-07-097220  ...          0
4799997  2018-05-22-117119  ...          0
4799998  2018-09-19-120616  ...          0
4799999  2018-03-30-115974  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
4800000  2018-07-09-086450  ...          0
4800001  2018-11-30-116945  ...          0
4800002  2018-09-04-105056  ...          0
4800003  2018-02-26-123777  ...          0
4800004  2018-02-01-151388  ...          0
...                    ...  ...        ...
4999995  2018-05-04-155508  ...          0
4999996  2018-08-15-112730  ...          0
4999997  2018-01-31-168844  ...          0
4999998  2018-12-07-132227  ...          1
4999999  2018-04-30-138298  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
5000000  2018-06-05-125634  ...          1
5000001  2018-08-18-054485  ...          0
5000002  2018-09-19-135700  ...          0
5000003  2018-02-05-133936  ...          0
5000004  2018-01-10-145859  ...          0
...                    ...  ...        ...
5199995  2018-09-27-004664  ...          0
5199996  2018-09-05-004446  ...          0
5199997  2018-10-15-004405  ...          0
5199998  2018-04-09-004574  ...          0
5199999  2018-03-29-005474  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
5200000  2018-10-04-004756  ...          0
5200001  2018-11-19-004235  ...          0
5200002  2018-08-09-003815  ...          0
5200003  2018-12-05-004924  ...          0
5200004  2018-05-08-005086  ...          0
...                    ...  ...        ...
5399995  2018-04-03-015370  ...          0
5399996  2018-12-01-007541  ...          0
5399997  2018-11-18-007062  ...          0
5399998  2018-05-21-012548  ...          0
5399999  2018-01-29-016295  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
5400000  2018-12-18-012383  ...          0
5400001  2018-12-09-006618  ...          0
5400002  2018-01-12-014835  ...          0
5400003  2018-08-20-010619  ...          0
5400004  2018-01-09-014552  ...          1
...                    ...  ...        ...
5599995  2018-04-26-031618  ...          0
5599996  2018-07-27-021026  ...          0
5599997  2018-09-05-024651  ...          1
5599998  2018-01-06-010808  ...          0
5599999  2018-11-21-024296  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
5600000  2018-12-01-013090  ...          0
5600001  2018-06-13-025497  ...          0
5600002  2018-02-01-031304  ...          0
5600003  2018-09-20-026111  ...          0
5600004  2018-03-27-028781  ...          0
...                    ...  ...        ...
5799995  2018-06-18-026240  ...          0
5799996  2018-10-15-029296  ...          0
5799997  2018-07-23-025480  ...          0
5799998  2018-08-02-026939  ...          0
5799999  2018-07-22-012650  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
5800000  2018-11-16-030389  ...          0
5800001  2018-03-29-035680  ...          0
5800002  2018-04-09-030352  ...          0
5800003  2018-07-28-013512  ...          0
5800004  2018-09-12-032071  ...          1
...                    ...  ...        ...
5999995  2018-02-05-038430  ...          0
5999996  2018-12-29-014974  ...          0
5999997  2018-12-26-020121  ...          0
5999998  2018-04-03-040940  ...          0
5999999  2018-06-22-035086  ...          1

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
6000000  2018-05-11-043443  ...          0
6000001  2018-09-28-038592  ...          0
6000002  2018-04-17-047274  ...          0
6000003  2018-09-19-038807  ...          0
6000004  2018-03-05-039000  ...          0
...                    ...  ...        ...
6199995  2018-03-25-023325  ...          0
6199996  2018-08-29-037678  ...          0
6199997  2018-12-04-038958  ...          0
6199998  2018-07-27-032235  ...          2
6199999  2018-03-17-023837  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
6200000  2018-11-09-037505  ...          0
6200001  2018-05-01-043036  ...          0
6200002  2018-11-17-018824  ...          0
6200003  2018-04-09-037421  ...          0
6200004  2018-05-23-040413  ...          0
...                    ...  ...        ...
6399995  2018-09-11-036042  ...          0
6399996  2018-07-05-027837  ...          0
6399997  2018-10-03-037041  ...          0
6399998  2018-04-10-038767  ...          0
6399999  2018-09-27-038137  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

                   quoteID  ... numNumbers
6400000  2018-04-09-035816  ...          0
6400001  2018-09-13-038350  ...          0
6400002  2018-09-28-035953  ...          0
6400003  2018-04-25-044356  ...          0
6400004  2018-03-09-043378  ...          0
...                    ...  ...        ...
6599995  2018-05-09-045882  ...          0
6599996  2018-02-11-024159  ...          0
6599997  2018-03-17-025254  ...          0
6599998  2018-02-26-040957  ...          0
6599999  2018-11-02-041541  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
6600000  2018-08-24-028660  ...          0
6600001  2018-07-09-028302  ...          0
6600002  2018-01-18-044697  ...          0
6600003  2018-04-09-039281  ...          1
6600004  2018-12-10-034384  ...          0
...                    ...  ...        ...
6799995  2018-04-08-018885  ...          1
6799996  2018-06-13-034455  ...          0
6799997  2018-05-03-040441  ...          0
6799998  2018-05-19-017110  ...          0
6799999  2018-11-21-033026  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
6800000  2018-09-06-033906  ...          1
6800001  2018-07-06-026511  ...          0
6800002  2018-08-02-030081  ...          0
6800003  2018-08-07-028187  ...          0
6800004  2018-08-05-013818  ...          0
...                    ...  ...        ...
6999995  2018-02-10-025705  ...          0
6999996  2018-02-18-024262  ...          0
6999997  2018-12-22-017905  ...          0
6999998  2018-07-02-030703  ...          0
6999999  2018-02-21-049854  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

                   quoteID  ... numNumbers
7000000  2018-08-22-029496  ...          0
7000001  2018-05-09-046943  ...          0
7000002  2018-03-14-052014  ...          0
7000003  2018-05-03-048364  ...          0
7000004  2018-08-17-032119  ...          0
...                    ...  ...        ...
7199995  2018-05-07-047422  ...          0
7199996  2018-12-14-044636  ...          0
7199997  2018-01-31-064028  ...          0
7199998  2018-07-24-043349  ...          0
7199999  2018-04-21-034032  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
7200000  2018-09-01-026155  ...          0
7200001  2018-12-20-044753  ...          0
7200002  2018-05-10-060947  ...          0
7200003  2018-01-17-056086  ...          0
7200004  2018-06-11-041793  ...          1
...                    ...  ...        ...
7399995  2018-04-19-086426  ...          0
7399996  2018-10-11-073757  ...          1
7399997  2018-02-13-076550  ...          0
7399998  2018-08-16-056407  ...          0
7399999  2018-05-23-071088  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
7400000  2018-03-23-078558  ...          0
7400001  2018-05-28-037247  ...          0
7400002  2018-08-12-027275  ...          0
7400003  2018-05-24-074108  ...          0
7400004  2018-12-31-033309  ...          0
...                    ...  ...        ...
7599995  2018-03-04-046301  ...          0
7599996  2018-10-19-072589  ...          0
7599997  2018-07-18-069663  ...          0
7599998  2018-02-13-084635  ...          0
7599999  2018-04-14-056366  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
7600000  2018-04-27-085503  ...          0
7600001  2018-03-11-052019  ...          0
7600002  2018-03-19-078127  ...          2
7600003  2018-05-01-084128  ...          1
7600004  2018-02-28-088646  ...          0
...                    ...  ...        ...
7799995  2018-10-21-041917  ...          0
7799996  2018-03-02-085616  ...          0
7799997  2018-11-14-081385  ...          1
7799998  2018-03-02-085626  ...          1
7799999  2018-06-01-071165  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

                   quoteID  ... numNumbers
7800000  2018-03-28-094043  ...          0
7800001  2018-07-31-063428  ...          1
7800002  2018-01-15-063051  ...          0
7800003  2018-08-08-065639  ...          0
7800004  2018-06-30-033223  ...          0
...                    ...  ...        ...
7999995  2018-10-05-087650  ...          0
7999996  2018-09-26-095803  ...          0
7999997  2018-02-14-113782  ...          0
7999998  2018-11-07-093552  ...          0
7999999  2018-02-02-108334  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

                   quoteID  ... numNumbers
8000000  2018-11-05-085079  ...          0
8000001  2018-08-22-065845  ...          0
8000002  2018-08-30-089430  ...          0
8000003  2018-05-01-104760  ...          0
8000004  2018-12-23-037004  ...          0
...                    ...  ...        ...
8199995  2018-10-21-049789  ...          0
8199996  2018-02-01-117400  ...          0
8199997  2018-04-25-114946  ...          0
8199998  2018-05-16-106541  ...          0
8199999  2018-02-28-113231  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
8200000  2018-09-25-091984  ...          0
8200001  2018-07-19-082323  ...          0
8200002  2018-09-19-093966  ...          0
8200003  2018-04-12-111910  ...          0
8200004  2018-01-15-075629  ...          0
...                    ...  ...        ...
8399995  2018-03-18-064667  ...          0
8399996  2018-05-10-125168  ...          0
8399997  2018-09-04-091741  ...          0
8399998  2018-11-27-096629  ...          0
8399999  2018-11-02-109767  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
8400000  2018-05-09-122335  ...          0
8400001  2018-09-01-052806  ...          0
8400002  2018-10-31-112995  ...          0
8400003  2018-12-27-062714  ...          0
8400004  2018-06-16-046053  ...          2
...                    ...  ...        ...
8599995  2018-02-06-126982  ...          0
8599996  2018-02-06-127051  ...          0
8599997  2018-10-25-127021  ...          0
8599998  2018-03-06-129802  ...          0
8599999  2018-07-05-086908  ...          2

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
8600000  2018-01-08-100295  ...          0
8600001  2018-10-25-127081  ...          0
8600002  2018-09-13-118733  ...          0
8600003  2018-06-25-093621  ...          0
8600004  2018-05-06-064297  ...          0
...                    ...  ...        ...
8799995  2018-10-06-062833  ...          0
8799996  2018-06-20-124763  ...          0
8799997  2018-04-25-152799  ...          0
8799998  2018-04-07-072731  ...          0
8799999  2018-03-24-083424  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
8800000  2018-03-04-076141  ...          0
8800001  2018-03-29-145202  ...          1
8800002  2018-06-06-119679  ...          1
8800003  2018-03-07-171993  ...          0
8800004  2018-03-21-154450  ...          0
...                    ...  ...        ...
8999995  2018-11-19-116844  ...          0
8999996  2018-03-14-170198  ...          0
8999997  2018-10-11-147271  ...          0
8999998  2018-04-08-075105  ...          0
8999999  2018-06-04-108705  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
9000000  2018-10-16-137024  ...          0
9000001  2018-06-17-056653  ...          0
9000002  2018-08-14-104898  ...          0
9000003  2018-01-30-151560  ...          0
9000004  2018-04-23-135642  ...          0
...                    ...  ...        ...
9199995  2018-11-07-134216  ...          1
9199996  2018-05-05-078209  ...          0
9199997  2018-01-09-129780  ...          0
9199998  2018-05-15-142620  ...          0
9199999  2018-06-30-054452  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
9200000  2018-08-03-104469  ...          0
9200001  2018-01-17-143561  ...          0
9200002  2018-10-13-071710  ...          0
9200003  2018-01-31-163803  ...          0
9200004  2018-10-21-068805  ...          0
...                    ...  ...        ...
9399995  2018-02-07-168872  ...          0
9399996  2018-02-13-155964  ...          0
9399997  2018-09-19-135537  ...          0
9399998  2018-11-14-141570  ...          0
9399999  2018-04-07-079243  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
9400000  2018-02-22-166693  ...          0
9400001  2018-02-24-088453  ...          0
9400002  2018-06-11-110852  ...          0
9400003  2018-02-28-164102  ...          0
9400004  2018-03-30-129918  ...          0
...                    ...  ...        ...
9599995  2018-01-15-113623  ...          0
9599996  2018-01-29-159233  ...          0
9599997  2018-05-23-150953  ...          0
9599998  2018-01-16-141868  ...          0
9599999  2018-01-24-163872  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
9600000  2018-10-18-152382  ...          0
9600001  2018-12-31-070689  ...          0
9600002  2018-12-17-113906  ...          0
9600003  2018-05-23-151092  ...          0
9600004  2018-05-13-080132  ...          0
...                    ...  ...        ...
9799995  2018-11-02-004338  ...          0
9799996  2018-10-29-003733  ...          0
9799997  2018-12-10-003804  ...          0
9799998  2018-05-16-004681  ...          0
9799999  2018-01-10-004639  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                   quoteID  ... numNumbers
9800000  2018-07-23-003420  ...          0
9800001  2018-03-10-002646  ...          0
9800002  2018-03-03-002367  ...          0
9800003  2018-05-20-001863  ...          0
9800004  2018-05-10-004840  ...          0
...                    ...  ...        ...
9999995  2018-06-18-016570  ...          0
9999996  2018-07-02-014745  ...          0
9999997  2018-11-15-020286  ...          0
9999998  2018-03-14-024312  ...          0
9999999  2018-07-24-016803  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                    quoteID  ... numNumbers
10000000  2018-04-03-020480  ...          0
10000001  2018-08-28-018034  ...          0
10000002  2018-11-08-020257  ...          0
10000003  2018-10-02-019200  ...          0
10000004  2018-08-20-014257  ...          0
...                     ...  ...        ...
10199995  2018-08-10-020685  ...          0
10199996  2018-01-24-030224  ...          0
10199997  2018-09-20-027620  ...          0
10199998  2018-09-24-024064  ...          0
10199999  2018-01-17-029310  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                    quoteID  ... numNumbers
10200000  2018-12-20-024054  ...          0
10200001  2018-10-30-027278  ...          0
10200002  2018-12-20-024104  ...          0
10200003  2018-05-10-030973  ...          0
10200004  2018-09-12-028164  ...          0
...                     ...  ...        ...
10399995  2018-07-13-027546  ...          0
10399996  2018-03-09-040290  ...          0
10399997  2018-07-16-028894  ...          0
10399998  2018-08-06-025639  ...          0
10399999  2018-08-29-033892  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                    quoteID  ... numNumbers
10400000  2018-02-08-042006  ...          0
10400001  2018-12-11-031249  ...          0
10400002  2018-11-12-029999  ...          0
10400003  2018-10-03-034575  ...          0
10400004  2018-04-25-041440  ...          0
...                     ...  ...        ...
10599995  2018-10-21-022154  ...          0
10599996  2018-07-19-036787  ...          0
10599997  2018-05-10-049421  ...          0
10599998  2018-05-26-020203  ...          0
10599999  2018-07-27-035911  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                    quoteID  ... numNumbers
10600000  2018-11-14-043847  ...          0
10600001  2018-01-28-025156  ...          0
10600002  2018-01-29-047039  ...          0
10600003  2018-06-28-039482  ...          0
10600004  2018-01-28-025164  ...          0
...                     ...  ...        ...
10799995  2018-06-22-038644  ...          0
10799996  2018-04-09-042447  ...          0
10799997  2018-09-09-020140  ...          0
10799998  2018-05-30-041710  ...          0
10799999  2018-02-28-051707  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                    quoteID  ... numNumbers
10800000  2018-11-18-021587  ...          0
10800001  2018-01-08-038553  ...          0
10800002  2018-10-14-022670  ...          0
10800003  2018-11-12-037632  ...          0
10800004  2018-01-05-039223  ...          0
...                     ...  ...        ...
10999995  2018-02-06-044066  ...          0
10999996  2018-07-09-028285  ...          0
10999997  2018-04-22-024642  ...          0
10999998  2018-10-30-040317  ...          0
10999999  2018-11-02-041562  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

                    quoteID  ... numNumbers
11000000  2018-09-23-019088  ...          0
11000001  2018-04-25-048710  ...          0
11000002  2018-12-19-035108  ...          0
11000003  2018-10-11-043999  ...          0
11000004  2018-04-01-021718  ...          2
...                     ...  ...        ...
11199995  2018-06-26-046788  ...          1
11199996  2018-07-21-020857  ...          0
11199997  2018-02-28-063118  ...          0
11199998  2018-04-19-067627  ...          0
11199999  2018-11-21-049706  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                    quoteID  ... numNumbers
11200000  2018-06-21-051139  ...          0
11200001  2018-02-26-053699  ...          0
11200002  2018-08-05-021637  ...          1
11200003  2018-03-01-064372  ...          0
11200004  2018-03-21-064942  ...          0
...                     ...  ...        ...
11399995  2018-05-30-062074  ...          0
11399996  2018-09-16-032716  ...          0
11399997  2018-10-26-066246  ...          0
11399998  2018-08-18-026959  ...          0
11399999  2018-12-10-054872  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                    quoteID  ... numNumbers
11400000  2018-05-12-039679  ...          0
11400001  2018-05-09-075643  ...          0
11400002  2018-11-20-061033  ...          0
11400003  2018-10-06-033120  ...          0
11400004  2018-08-15-053840  ...          0
...                     ...  ...        ...
11599995  2018-03-06-076513  ...          0
11599996  2018-04-09-066746  ...          0
11599997  2018-02-28-081308  ...          2
11599998  2018-03-10-049209  ...          0
11599999  2018-08-03-054009  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                    quoteID  ... numNumbers
11600000  2018-06-04-055386  ...          1
11600001  2018-06-26-060218  ...          0
11600002  2018-04-04-077188  ...          0
11600003  2018-01-18-076043  ...          0
11600004  2018-02-23-077265  ...          0
...                     ...  ...        ...
11799995  2018-09-30-033848  ...          1
11799996  2018-04-23-078387  ...          0
11799997  2018-08-08-064013  ...          0
11799998  2018-01-16-076076  ...          1
11799999  2018-03-16-092317  ...          2

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

                    quoteID  ... numNumbers
11800000  2018-10-18-081695  ...          0
11800001  2018-10-17-083425  ...          0
11800002  2018-09-03-047048  ...          0
11800003  2018-03-04-048190  ...          0
11800004  2018-08-10-059732  ...          0
...                     ...  ...        ...
11999995  2018-09-09-041070  ...          1
11999996  2018-08-07-070431  ...          0
11999997  2018-07-02-065986  ...          1
11999998  2018-07-05-067089  ...          2
11999999  2018-11-27-079966  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                    quoteID  ... numNumbers
12000000  2018-07-08-033881  ...          0
12000001  2018-09-04-076477  ...          0
12000002  2018-03-04-054636  ...          0
12000003  2018-11-15-091079  ...          1
12000004  2018-01-02-066088  ...          0
...                     ...  ...        ...
12199995  2018-05-31-104364  ...          0
12199996  2018-06-13-105717  ...          0
12199997  2018-11-25-049002  ...          0
12199998  2018-02-17-067521  ...          2
12199999  2018-11-18-051956  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                    quoteID  ... numNumbers
12200000  2018-01-13-059557  ...          0
12200001  2018-07-14-052639  ...          0
12200002  2018-05-18-107560  ...          0
12200003  2018-06-15-095923  ...          0
12200004  2018-10-29-098043  ...          0
...                     ...  ...        ...
12399995  2018-06-13-116789  ...          2
12399996  2018-03-29-135836  ...          0
12399997  2018-03-13-137837  ...          0
12399998  2018-01-12-119383  ...          0
12399999  2018-11-09-115442  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                    quoteID  ... numNumbers
12400000  2018-11-20-110678  ...          0
12400001  2018-01-18-131091  ...          0
12400002  2018-04-10-125486  ...          1
12400003  2018-04-29-068620  ...          0
12400004  2018-08-25-054243  ...          0
...                     ...  ...        ...
12599995  2018-04-01-070701  ...          0
12599996  2018-09-11-132141  ...          0
12599997  2018-10-02-130276  ...          0
12599998  2018-05-14-128124  ...          0
12599999  2018-02-02-156435  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                    quoteID  ... numNumbers
12600000  2018-07-27-112279  ...          0
12600001  2018-09-26-138487  ...          0
12600002  2018-05-30-127427  ...          0
12600003  2018-03-31-074413  ...          0
12600004  2018-03-22-167589  ...          0
...                     ...  ...        ...
12799995  2018-03-09-164688  ...          0
12799996  2018-06-26-122423  ...          0
12799997  2018-02-19-118277  ...          0
12799998  2018-07-11-112762  ...          0
12799999  2018-03-12-148662  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                    quoteID  ... numNumbers
12800000  2018-10-12-137471  ...          0
12800001  2018-04-04-154435  ...          0
12800002  2018-11-25-062768  ...          1
12800003  2018-07-24-115076  ...          0
12800004  2018-08-01-111535  ...          0
...                     ...  ...        ...
12999995  2018-03-14-178995  ...          0
12999996  2018-05-18-141932  ...          0
12999997  2018-03-22-176253  ...          0
12999998  2018-06-14-137984  ...          0
12999999  2018-08-31-124026  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                    quoteID  ... numNumbers
13000000  2018-12-13-131646  ...          0
13000001  2018-03-05-139854  ...          0
13000002  2018-01-12-143060  ...          0
13000003  2018-03-20-163733  ...          0
13000004  2018-02-22-171111  ...          0
...                     ...  ...        ...
13199995  2018-02-09-164338  ...          0
13199996  2018-04-11-164741  ...          0
13199997  2018-03-01-174828  ...          0
13199998  2018-09-05-137238  ...          0
13199999  2018-07-26-131653  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                    quoteID  ... numNumbers
13200000  2018-07-12-120520  ...          0
13200001  2018-03-01-174862  ...          0
13200002  2018-06-28-134147  ...          0
13200003  2018-10-03-145330  ...          0
13200004  2018-12-16-061772  ...          0
...                     ...  ...        ...
13399995  2018-08-21-001708  ...          0
13399996  2018-05-15-002262  ...          0
13399997  2018-02-07-002696  ...          0
13399998  2018-02-06-002505  ...          0
13399999  2018-06-29-001741  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                    quoteID  ... numNumbers
13400000  2018-11-10-001029  ...          0
13400001  2018-02-24-001305  ...          0
13400002  2018-03-02-002399  ...          0
13400003  2018-05-18-002228  ...          0
13400004  2018-06-05-002062  ...          0
...                     ...  ...        ...
13599995  2018-10-31-154141  ...          0
13599996  2018-02-09-164939  ...          0
13599997  2018-02-06-160964  ...          0
13599998  2018-12-03-121870  ...          0
13599999  2018-08-20-102384  ...          1

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                    quoteID  ... numNumbers
13600000  2018-09-08-069702  ...          0
13600001  2018-03-10-102419  ...          0
13600002  2018-04-20-172096  ...          0
13600003  2018-06-21-142289  ...          0
13600004  2018-03-24-095857  ...          0
...                     ...  ...        ...
13799995  2018-08-29-004435  ...          0
13799996  2018-05-03-005179  ...          0
13799997  2018-09-24-003848  ...          0
13799998  2018-12-27-002685  ...          0
13799999  2018-10-31-004858  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

                    quoteID  ... numNumbers
13800000  2018-01-10-004984  ...          0
13800001  2018-09-29-001986  ...          0
13800002  2018-07-12-003917  ...          0
13800003  2018-03-27-005150  ...          0
13800004  2018-07-31-003754  ...          0
...                     ...  ...        ...
13999995  2018-04-16-022506  ...          1
13999996  2018-06-24-008905  ...          0
13999997  2018-10-15-020282  ...          0
13999998  2018-01-31-026079  ...          0
13999999  2018-02-20-022661  ...          0

[200000 rows x 15 columns]

Processing chunk with 200000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)